@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>Soundify - About</title>

<div class="w3-half w3-amber w3-container w3-animate-bottom" style="height:700px">
    <div class="w3-padding-64 w3-center">
        <h1>About Soundify</h1>
        <div class="w3-left-align w3-padding-large">
            <h4>Soundify helps you convert your favorite videos to different file formats. These are explained below for your convenience.</h4>
            <p><ul>
                    <li>mp3 - MPEG-1 Audio Layer 3. Audio files which are considerably smaller compared to other formats. A good file type choice for songs.</li>
                    <li>wav - Waveform Audio File. An alternative to mp3, wav files provide lossless data retention. This means higher audio quality at potentially larger uncompressed file sizes. Useful for smaller files such as sound effects.</li>
                    <li>mp4 - Moving Pictures Expert Group 4. Video file type which features small compression sizes and retained high quality. The common standard for sharing videos on the internet, used by YouTube uploads and downloads, for instance.</li>
                    <li>flv - Flash Video Format. Encoded using Adobe Flash, used commonly across all internet browsers and streaming services. Retain a high quality and low file size, though not the optimal choice for downloads.</li>
                    <li>wmv - Windows Media Video. Developed by Microsoft, wmv files feature remarkably low compression sizes at the consequence of lower quality. These files may still have specialized uses.</li>
                    <li>mov - Apple Quicktime Movie. With high quality and high file sizes, Apple's video format is great for video quality though not great for memory space. These files can still be played on other operating systems, besides Apple's MacOS.</li>
            </ul></p>
            <h6>Soundify wants you, the user, to respect YouTube's Terms of Use and only use this service for your own content. Soundify is not responsibile for any misuse of the site.</h6>
        </div>
    </div>
</div>
